on post-fs
    # Vibration
    chown system system /sys/class/leds/vibrator/vmax_override
    write /sys/class/leds/vibrator/vmax_override 1
    chown system system /sys/class/leds/vibrator/vmax_mv_user
    chown system system /sys/class/leds/vibrator/vmax_mv_call
    chown system system /sys/class/leds/vibrator/vmax_mv_strong

on boot
    # FocalTech Gesture
    # /sys/devices/platform/soc/894000.i2c/i2c-3/3-0038/
    chown system system /sys/devices/platform/soc/0.goodix_gf5228/proximity_state
    chmod 0660 /sys/devices/platform/soc/0.goodix_gf5228/proximity_state

    # OTG
    write /sys/class/power_supply/usb/otg_switch 1
    chmod 0660 /sys/devices/platform/soc/ae00000.qcom,mdss_mdp/drm/card0/card0-DSI-1/dimlayer_bl_en
    chown system system /sys/devices/platform/soc/ae00000.qcom,mdss_mdp/drm/card0/card0-DSI-1/dimlayer_bl_en

    #FPS
    chown system graphics /sys/class/drm/card0/sde-crtc-0/measured_fps
    chmod 0666 /sys/class/drm/card0/sde-crtc-0/measured_fps

    # Smart Charging
    chown system system /sys/class/power_supply/battery/input_suspend
    chmod 0666 /sys/class/power_supply/battery/input_suspend

on charger
    write /sys/class/backlight/panel0-backlight/brightness 150

service cvphalservice /system/bin/true
    disabled

    # debug boot process
    rm /cache/boot_lc_full.txt
    rm /cache/boot_lc_crash.txt
    rm /cache/boot_lc_kernel.txt
    start boot_lc
    start boot_lc_kernel
    start boot_lc_crash

service logger /system/bin/logcat -b all -D -f /cache/boot_lc_full.txt
    class main
    user root
    group root system
    disabled
    oneshot

service boot_lc_crash /system/bin/logcat -b crash -D -f /cache/boot_lc_crash.txt
    class main
    user root
    group root system
    disabled
    oneshot

service boot_lc_kernel /system/bin/logcat -b kernel -D -f /cache/boot_lc_kernel.txt
    class main
    user root
    group root system
    disabled
    oneshot

on post-fs-data
    # Clear existing log and start the service
    rm /cache/boot_log.txt
    start logger

on property:sys.boot_completed=1
    # Stop the logger service
    stop logger

    stop boot_lc
    stop boot_lc_crash
    stop boot_lc_kernel

    stop boot_lc
    stop boot_lc_crash
    stop boot_lc_kernel
